table.table-striped > tbody > tr > td {
  border-left: 1px solid #DDD;
}

.content_wrapper{
  width: 1200px;
  padding: 10px;
  margin: auto;
}

.btn {
  color: white;
  background-color:transparent
}

td.overview {
  vertical-align: top !important;
}

td.level1 {
  background-color: #88BFFF; color: black;
  text-align: center;
}

td.level2 {
  background-color: #2648FF; color: black;
  text-align: center;
}

td.level3 {
  background-color: #0000CA; color: black;
  text-align: center;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}
#ex4Slider .slider-selection {
	background: #BABABA;
}
